<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sistema de Vendas</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sora:wght@100..800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
    </head>
    <body>
        <header class="header">
            <h1 class="titulo">Sistema de Vendas - {% block titulo %}{% endblock %}</h1>
            <button class="botao" onclick="window.location.href='{% block link %}/{% endblock %}'">
                {% block botao %}{% endblock %}
            </button>
        </header>
        <main class="conteudo">
            {% block conteudo %}{% endblock %}
        </main>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>